.content{
    display: flex;
    flex-direction: column;
}

.frame,
article {
    width: calc(100vw - 4em) !important;
    height: 15vh;
    max-width: 1280px !important;
    border: none;
    border-radius: 16px;
    background-color: white;
    border: 2px solid lightgray;
}

article {
    width: calc(100vw - 4em - 40px) !important;
    max-width: calc(1280px - 40px) !important;
    padding: 20px;
    height: calc(15vh - 40px);
}